<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <form method="post" action="/new">
        <h2>New Message</h2>
        <input name ="userMessage" type="text">
        <input name ="textMessage" type="text">
        <button>SUBMIT</button>
    </form>
</html>