<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <h1>Mini MessageBorad</h1>
        <a href="/new">New Message</a>
        <ul>
        <% messages.forEach(function(message, index) { %>
            <li>
            <a href="/message/<%= index %>">
                <strong><%= message.user %></strong><br>
                <%= message.text %><br>
                <small>Added on: <%= message.added.toDateString() %></small>
            </a>
            </li>
        <% }); %>
        </ul>

    </body>
</html>
